.bg-cont{
  background-image: url(https://eduwork.id/assets/bg-hero.png);
  background-position: center;
}
.stepper {
    .line {
      border-style: dashed;
      border-width: 2px;
      border-color: #0d5efd;
    }
    .lead {
      font-size: 1.1rem;
    }
  }
  .arrow {
    border: solid #0d5efd;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(25deg);
  }
  h5{
    margin-left: 15px;
  }
  p{
    margin-left: 15px;
  }
  .bg-red{
    background-color: red;
  }
  .btn{
    width: 150px;
  }
  .typing{
    width: 350px;
    height: 110px;
    background-color: whitesmoke;
    margin-left: 65px;
    margin-top: -85px;
    position: relative;
    border-radius: 10px;
  }
  #typing{
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }